.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6rem;
  padding-left: 6rem;
  min-height: 100vh;
}

.title_container {
  text-align: center;
  margin-top: 50px;
}

.title_container h2 {
  margin-top: 14px;
}
