.product_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  min-width: 80%;
}
